@{
    ViewData["Title"] = "Льготы";
}

<div class="container">
    <h2 class="text-center">Льготы и коэффициенты</h2>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Льгота</th>
                        <th scope="col">Прилагающийся коэффициент</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Инвалидность</td>
                        <td>0,72</td>
                    </tr>
                    <tr>
                        <td>Работник образовательного учреждения</td>
                        <td>0,85</td>
                    </tr>
                    <tr>
                        <td>Ветераны</td>
                        <td>0,7</td>
                    </tr>
                    <tr>
                        <td>Пенсионеры</td>
                        <td>0,75</td>
                    </tr>
                    <tr>
                        <td>Многодетные семьи</td>
                        <td>0,8</td>
                    </tr>
                    <tr>
                        <td>Нет льготы</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
