@{
    ViewData["Title"] = "Услуги";
}

<div class="container">
    <h2 class="text-center">Цены на услуги</h2>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Услуга</th>
                        <th scope="col">Стоимость в месяц (руб)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Вода горячая, м<sup>3</sup></td>
                        <td>39</td>
                    </tr>
                    <tr>
                        <td>Вода холодная, м<sup>3</sup></td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Вывоз ТБО, м<sup>3</sup></td>
                        <td>674</td>
                    </tr>
                    <tr>
                        <td>Отопление, кВт*ч</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Энергоснабжение, кВт*ч</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Капитальный ремонт, м<sup>2</sup></td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Содержание жилого помещения, м<sup>2</sup></td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
